body {
  font-family: Arial, Helvetica, sans-serif;
  color: #071952;
  margin: 0;
}

.navbar {
  background-color: #333333;
}

.header {
  background-color: #749BC2;
  padding: 60px;
  text-align: center;
}

.content {
  display: flex;
}

.l-side {
  flex: 25%;
  padding: 20px;
  background-color: #ffffff;
}

.r-side {
  flex: 75%;
  padding: 20px; 
  background-color: #ddd;
}

h1 {
  font-weight: bold;
}

h1, h4 {
  animation: fade-in 3s;
}

h2 {
  text-align: center;
  padding: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.main-text {
  text-indent: 20px;
  font-size: 18px;
  padding: 20px;
}

.main-text::first-letter {
  font-size: 150%;
}

.l-side-img {
  display: block;
  margin: auto;
  width: 80%;
}

.r-side-img {
  display: block;
  margin: auto;
  width: 40%;
  border: 5px solid #ffffff;
}

.card-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.btn:hover {
  background-color: #ddd;
  color: #000;
}

.footer {
  color: #ffffff;
  background-color: #333333;
  padding: 30px;
  text-align: center;
  clear: both;
}

.fa {
  padding: 20px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
  }
  .l-side-img, .r-side-img {
    width: 50%;
  }
}