body {
    font-family: Arial, Helvetica, sans-serif;
    color: #071952;
    margin: 0;
  }
  
.navbar {
    background-color: #333333;
  }
  
.header {
    background-color: #749BC2;
    padding: 60px;
    text-align: center;
  }

h1 {
    font-weight: bold;
  }
  
h1, h4 {
    animation: fade-in 3s;
  }
  
h2 {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    font-weight: bold;
  }

.footer {
    color: #071952;
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
  }
  
.fa {
    padding: 20px;
  }
  
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
    }
    .l-side-img, .r-side-img {
      width: 50%;
    }
  }
